<div class="content">
  <h2><%= @title %></h2>
</div>

<%= f = form_for @changeset, "#",
  id: "event-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <div class="field">
    <%= label f, :name, class: "label" %>
    <div class="control">
      <%= text_input f, :name, class: "input" %>
      <%= error_tag f, :name %>
    </div>
  </div>

  <div class="field">
    <%= label f, :max_attendees, "Max Teilnehmer", class: "label" %>
    <div class="control">
      <%= number_input f, :max_attendees, class: "input" %>
      <%= error_tag f, :max_attendees %>
    </div>
  </div>

  <div class="control">
    <%= submit "Erstelle Event", phx_disable_with: "Speichere...", class: "button is-info" %>
  </div>
</form>
