<section class="section">
  <div class="container">
    <h1 class="title">Eventübersicht</h1>
  </div>
</section>

<%= if @loading == true do %>
  <section class="section">
    <div class="container">
      <h1 class="title">LOADING...</h1>
    </div>
  </section>
<% else %>
  <%= if @access == true do %>
    <%= if @live_action in [:new, :edit] do %>
      <%= live_modal @socket, CovidCheckinWeb.EventLive.FormComponent,
        id: @event.id || :new,
        title: @page_title,
        action: @live_action,
        event: @event,
        return_to: Routes.event_index_path(@socket, :index) %>
    <% end %>


    <section class="section">
      <div class="container">
        <%= for event <- @events do %>
          <div id="event-<%= event.id %>" class="card content">
            <div class="card-header">
              <div class="card-header-title">
                <%= event.name %>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <div><b>Max Teilnehmer:</b> <%= event.max_attendees %></div>
                <div><b>Registrierte Teilnehmer:</b> <%= length(Enum.filter(event.attendees, fn(attendee) -> attendee.registered_at != nil end)) %></div>
                <div><b>Eingecheckte Teilnehmer:</b> <%= length(Enum.filter(event.attendees, fn(attendee) -> attendee.currently_at_event == true end)) %></div>
              </div>
            </div>
            <footer class="card-footer">
              <%= live_redirect "Alle QR Codes", to: Routes.event_show_qr_path(@socket, :show, event), class: "card-footer-item" %>
              <%= live_redirect "Alle Teilnehmer", to: Routes.event_show_attendees_path(@socket, :show, event), class: "card-footer-item" %>
              <%= link "Lösche Event", to: "#", class: "card-footer-item is-danger", phx_click: "delete", phx_value_id: event.id, data: [confirm: "Vorsicht!!! Möchtest du das Event wirklich löschen?"] %>
            </footer>
          </div>
        <% end %>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <%= live_patch "Neues Event erstellen", to: Routes.event_index_path(@socket, :new), class: "button is-info" %>
      </div>
    </section>
  <% else %>
    <h3>Bitte Passwort eingeben!</h3>

    <form id="enter_password" phx-submit="enter-password" phx-hook="StoreSettings">
      <input type="password" name="password"
              autofocus autocomplete="off" />

      <button type="submit">
        Login
      </button>
    </form>
  <% end %>
<% end %>
