<h1>Listing Events</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, CovidCheckinWeb.EventLive.FormComponent,
    id: @event.id || :new,
    title: @page_title,
    action: @live_action,
    event: @event,
    return_to: Routes.event_index_path(@socket, :index) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Max attendees</th>
      <th>Registered attendees</th>
      <th>Currently at event</th>

      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="events">
    <%= for event <- @events do %>
      <tr id="event-<%= event.id %>">
        <td><%= event.name %></td>
        <td><%= event.max_attendees %></td>
        <td><%= length(Enum.filter(event.attendees, fn(attendee) -> attendee.registered_at != nil end)) %></td>
        <td><%= length(Enum.filter(event.attendees, fn(attendee) -> attendee.currently_at_event == true end)) %></td>

        <td>
          <span><%= live_redirect "All QR codes", to: Routes.event_show_qr_path(@socket, :show, event) %></span>
        </td>
        <td>
          <span><%= live_redirect "Show all attendees", to: Routes.event_show_attendees_path(@socket, :show, event) %></span>
        </td>
        <td>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: event.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Event", to: Routes.event_index_path(@socket, :new) %></span>
