<h1>Alle Teilnehmer</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, CovidCheckinWeb.EventLive.AttendeeFormComponent,
    id: @attendee.id,
    title: @page_title,
    action: @live_action,
    attendee: @attendee,
    return_to: Routes.event_show_attendees_path(@socket, :show, @attendee.event) %>
<% end %>

<div class="margin_top_20 margin_bottom_20">
  <button class="button"><%= live_redirect "Zurück zur Eventübersicht", to: Routes.event_index_path(@socket, :index) %></button>
</div>

<table>
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Adresse</th>
      <th>Telefon</th>
      <th>Gesund?</th>
      <th>Eingecheckt im Event</th>
      <th>Registriert am</th>
      <th>Event verlassen am</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="attendees">
    <%= for attendee <- @event.attendees do %>
      <%= if attendee.registered_at do %>
        <tr id="attendee-<%= attendee.id %>">
          <td><%= attendee.first_name %></td>
          <td><%= attendee.last_name %></td>
          <td><%= attendee.address %></td>
          <td><%= attendee.telefon %></td>
          <td><%= attendee.healthy %></td>
          <td><%= attendee.currently_at_event %></td>
          <td><%= attendee.registered_at %></td>
          <td><%= attendee.left_event_at %></td>

          <td>
            <button class="button"><%= live_patch "Bearbeiten", to: Routes.event_show_attendees_path(@socket, :edit, @event, attendee) %></button>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
