<h1>Veranstaltung <%= @attendee.event.name %> </h1>

<%= unless @attendee.registered_at do %>
  <h3>Aufgrund von Corona müssen Sie sich bei uns registrieren.</h3>

  <%= f = form_for @changeset, "#",
    id: "attendee-form",
    phx_change: "validate",
    phx_submit: "save" %>

    <%= label f, :first_name, "Vorname" %>
    <%= text_input f, :first_name %>
    <%= error_tag f, :first_name %>

    <%= label f, :last_name, "Nachname" %>
    <%= text_input f, :last_name %>
    <%= error_tag f, :last_name %>

    <%= label f, :address, "Adresse" %>
    <%= textarea f, :address %>
    <%= error_tag f, :address %>

    <%= label f, :telefon %>
    <%= text_input f, :telefon %>
    <%= error_tag f, :telefon %>

    <%= label f, :healthy, "Gesund?" %>
    <%= checkbox f, :healthy %>
    <%= error_tag f, :healthy %>

    <div>
      <%= submit "Anmelden", phx_disable_with: "Speichere...", class: "button margin_top_20" %>
    </div>

  </form>
<% else %>
  <%= if @attendee.currently_at_event == true do %>
    <h3>Fall Sie die Veranstaltung verlassen, klicken Sie bitte auf den Button.</h3>

    <button class="button" phx-click="leave">
      Veranstaltung verlassen
    </button>
  <% else %>
    Wir hoffen Ihnen hat die Veranstaltung gefallen!
  <% end %>
<% end %>
